[submodule "rustlings"]
    path = rustlings
    url  = https://github.com/DeepanshuMishraa/rustlings
	branch = master

[submodule "grady-sol"]
	path = grady-sol
	url = https://github.com/DeepanshuMishraa/grady.sol
	branch=master
