[submodule "rustlings"]
    path = rustlings
    url  = https://github.com/DeepanshuMishraa/rustlings
	branch = master

[submodule "grady-sol"]
	path = grady-sol
	url = https://github.com/DeepanshuMishraa/grady.sol
	branch=master

[submodule "vault-anchor"]
    path= anchor-vault
    url = https://github.com/DeepanshuMishraa/vault-anchor
    branch = master

[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/DeepanshuMishraa/anchor-escrow
	branch = master

[submodule "mint-spl-token"]
    path = "token-mint"
    url = https://github.com/DeepanshuMishraa/mint-spl-token
    branch = main
[submodule "anchor-vault"]
	path = anchor-vault
	url = git@github.com:DeepanshuMishraa/vault-anchor.git
[submodule "token-mint"]
	path = token-mint
	url = git@github.com:DeepanshuMishraa/mint-spl-token.git
[submodule "nft-mint"]
	path = nft-mint
	url = git@github.com:DeepanshuMishraa/nft-mint.git
